
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=28f797e02b7c22d72afea46c2d90d943
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress